title = "Movie"
url = "/movie/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "MyPlugin\Movies\Models\Movie"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Pelicula no encontrada"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

{% if record %}
    {# {{ attribute(record, displayColumn) }} #}

    <div>
        <h3>{{ record.name }}</h3>
        <p>
            {{ record.year }}

            {% if record.genres|length == 1 %}
                <b> | Género:</b>
                <a href="/genres/{{ record.genres[0].slug }}">{{ record.genres[0].genre_title }}</a>.
            {% else %}
                {% if record.genres|length > 1 %}
                <b> | Géneros:</b>
                    {% for genre in record.genres %}
                        <a href="/genres/{{ genre.slug }}">
                            {{ genre.genre_title }}{% if not loop.last %}
                        </a>
                        , {% else %}.{% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        </p>
    </div>

    <div class="container-poster">
        {# <img src="{{ record.poster.path }}" /> #}
        <img class="poster" src="{{ record.poster.thumb(200,auto) }}" />
    </div>

    <div>
        {{ record.description|raw }}
    </div>

    <h3>Actores</h3>

    {% if record.actors|length == 1 %}
        <p>
            <b>Actor:</b>
            {{ record.actors[0].name }}.
        </p>
    {% else %}
        {% if record.actors|length > 1 %}
            <p>
                <b>Actores:</b>
                {% for actor in record.actors %}
                    {{ actor.name }}{% if not loop.last %}, {% else %}.{% endif %}
                {% endfor %}
            </p>
        {% endif %}
    {% endif %}

    <h3>Premios</h3>

    {% if record.awards %}
        {% for award in record.awards %}
            <p>{{ award.award }}: {{ award.award_category }}</p>
        {% endfor %}
    {% else %}
        <p>No recibió premios.</p>
    {% endif %}

    <h3>Galería</h3>

    {# Modal for Gallery #}
    <ul class="gallery clearfix">
        {% for image in record.movie_gallery %}
            <li style="cursor: pointer;">
                <img src="{{ image.thumb(80,80, {'mode':'crop'}) }}" data-toggle="modal" data-target="{{ '#movieModalCenter' ~ image.id }}">
            </li>  

            <!-- Modal -->
            <div class="modal fade" id="{{ 'movieModalCenter' ~ image.id }}" tabindex="-1" role="dialog" aria-labelledby="movieModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="movie-modal-container">
                        <img src="{{ image.path }}" />
                    </div>
                </div>
            </div>
        {% endfor %}
    </ul>

{% else %}
    {{ notFoundMessage }}
{% endif %}