.container-poster {
    justify-content: center;
    display: flex;
}

.poster {
    margin-top: 2%;
    padding: 1%;
    background: #efefef;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.movie-modal-container {
    padding: 1%;
    background: #efefef;
    border: 1px solid #ccc;
    border-radius: 3px;
}