.pagination {
    display: flex;
    justify-content: right;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    // text-decoration: underline;
    // color: #e81c4f;
    color: #fff !important;
    background-color: #f44336 !important;
}