<header class="main-header">
    <div class="container clearfix">
        <h1 class="logo">Peliculas WinterCMS</h1>

        <nav class="main-nav">
            <ul>
                <li class="{{ this.page.id == 'homepage' ? 'active' }}"><a href="{{ 'homepage'|page }}">Inicio</a></li>
                <li class="{% if this.page.id == 'movies' %} active {% endif %}"><a href="{{ 'movies'|page }}">Peliculas</a></li>
                <li class="{{ this.page.id == 'contact' ? 'active' }}"><a href="{{ 'contact'|page }}">Contacto</a></li>
            </ul>
        </nav>
    </div>

</header>